In [8]:
import pandas as pd
job = [
    {
        "firstName": "John",
        "lastName": "Doe",
        "occupation": "Software Engineer",

        "city": "San Francisco",
          "state": "California",
            "country": "USA"
        },

    {
        "firstName": "Jane",
        "lastName": "Smith",
        "occupation": "Data Scientist",

        "city": "New York",
        "state": "New York",
        "country": "USA"

    },
    {
        "firstName": "Michael",
        "lastName": "Johnson",
        "occupation": "Product Manager",

        "city": "Chicago",
        "state": "Illinois",
        "country": "USA"

    },
    {
        "firstName": "Emily",
        "lastName": "Williams",
        "occupation": "UX Designer",

        "city": "Austin",
        "state": "Texas",
        "country": "USA"

    },
    {
        "firstName": "David",
        "lastName": "Brown",
        "occupation": "Business Analyst",

        "city": "Seattle",
        "state": "Washington",
        "country": "USA"

    }
]

df = pd.DataFrame(job)
df.head(1)

  firstName lastName         occupation           city       state country
0      John      Doe  Software Engineer  San Francisco  California     USA

In [3]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 22.5 MB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 15.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0

In [4]:

import pymongo
from google.colab import userdata

def get_mongo_client(mongo_uri):
  """Establish connection to the MongoDB."""
  try:
    client = pymongo.MongoClient(mongo_uri)
    print("Connection to MongoDB successful")
    return client
  except pymongo.errors.ConnectionFailure as e:
    print(f"Connection failed: {e}")
    return None

mongo_uri = userdata.get('MONGO_URI')
if not mongo_uri:
  print("MONGO_URI not set in environment variables")

mongo_client = get_mongo_client(mongo_uri)

DB_NAME="job_title"
COLLECTION_NAME="records"

db = mongo_client[DB_NAME]
collection = db[COLLECTION_NAME]

Connection to MongoDB successful

## Convert df to Json format

In [9]:
import json
records = json.loads(df.T.to_json()).values()

## Write the data into MongoDB

In [10]:
x = collection.insert_many(records)

## Let's check and see the first record (document).

In [11]:
y = collection.find_one()
print(y)

{'_id': ObjectId('66b9de59125c9b073547083f'), 'firstName': 'John', 'lastName': 'Doe', 'occupation': 'Software Engineer', 'city': 'San Francisco', 'state': 'California', 'country': 'USA'}